<div class="col-xs-10 col-xs-offset-1">
  <div class="white-container">


    <div class="row">
      <div class="col-xs-12">
        <img src="<%= @profile_user.image << "?type=large" %>" class="profile-pic">
      </div>
    </div>


    <div class="row top-buffer">
      <div class="col-xs-12">
        <div class="lost-note">
          <% if @profile_user.note %>
              <p>
                <%= @profile_user.note %>
              </p>
          <% else %>
              <% if @user %>
                  <p>
                    <%= form_for(@user) do |f| %>
                        <%= f.label 'Add a note about the item you lost!' %><br>
                        <%= f.text_area :note, :placeholder => '...' %><br>
                        <%= f.submit 'Save' %>
                    <% end %>
                  </p>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <div class="return-instructions">
          <!--add cont me and make me happy here-->
          <p>Please click the link below to
            email me if you find it! Thanks!</p>
          <!--<input type="button" value="Mail" onClick="window.location.href='mailto:someone@gmail.com';"></input>-->
          <%= mail_to @profile_user.email, 'Email me :)', :class => "email-button" %>
        </div>
      </div>
    </div>
  </div>
